<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ruben Dimas</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link href="{{ "/css/index.css" | relative_url }}" rel="stylesheet">
</head>

<body>
	<header style="background-color: #C9674B;">
        <div class="nav-bar">
            <nav class="nav-bar-right">
                <a class="nav-bar-name" href="/">
                    <span style="font-size: 1.5em; font-weight: 600;">
                        Ruben Dimas
                    </span>
                </a>
            </nav>
            <nav class="nav-bar-left">
                <a class="nav-bar-link" href="/about/">
                    <span style="font-size: 1.25em;">
                        About
                    </span>
                </a>
                <!-- <a class="nav-bar-link" href="/projects/">
                    <span>
                        Projects
                    </span>
                </a> -->
                <!-- <a class="nav-bar-link" href="/blog/">
                    <span>
                        Blog
                    </span>
                </a> -->
                <a class="nav-bar-link" href="https://github.com/rdimas-ut">
                    <span style="font-size: 1.25em;">
                        Github
                    </span>
                </a>
                <a class="nav-bar-link" href="/assets/ruben_dimas_resume_2022.pdf">
                    <span style="font-size: 1.25em;">
                        Resume
                    </span>
                </a>
            </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer class="footer">
        <section>
            <nav>
                <a class="footer-bar-link" href=""></a>
            </nav>
            <nav>
                <a class="footer-bar-link" href="">Made by Ruben C. Dimas</a>
                <a class="footer-bar-link" href="https://github.com/rdimas-ut">Github</a>
            </nav>
        </section>
    </footer>
</body>

</html>